.search{
  .right;
  input{
    border: 1px solid @base-color2;
    border-right: none;
    background: @element-bg;
    .font(@base-color, @fontSize-text, "Tahoma");
    padding: 10px;
  }
  button{
    border: none;
    outline: none;
    background: @active-color;
    color: @active-text-color;
    text-transform: uppercase;
    padding: 11px;
    a{
      text-decoration: none;
      outline: none;
      color: @active-text-color;
    }
  }

}